.container
  width: 100%
  max-width: calc($container-default + $container-padding + $container-padding)
  margin: 0 auto
  padding: 0 $container-padding

.container--large
  max-width: calc($container-large + $container-padding + $container-padding)

.container--full
  max-width: 100%
  padding: 0
  overflow: hidden
