.header
  display: flex
  position: fixed
  top: 0
  left: 0
  align-items: center
  height: 80px
  width: 100%

.header__content
  display: flex
  align-items: center
  width: 100%
  padding-bottom: 6px

.header__logo
  display: flex
  align-items: center
  height: 32px
  width: fit-content
  color: $black

.header__logo-image
  width: 32px
  height: 32px
  color: inherit

.header__logo-text
  margin-left: 8px
  font-size: 20px
  line-height: 24px
  font-weight: 700
  letter-spacing: -0.03em
  color: inherit

.header__navigation
  margin-left: 24px

.header__externals
  display: flex
  align-items: center
  margin-left: auto

.header__socials
  margin-right: 32px
