html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  border: 1px solid #000;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

@-webkit-keyframes gridAnimation {
  0% {
    -webkit-mask-position: 100% 50%;
            mask-position: 100% 50%;
  }
  10% {
    -webkit-mask-position: 75% 100%;
            mask-position: 75% 100%;
  }
  20% {
    -webkit-mask-position: 50% 100%;
            mask-position: 50% 100%;
  }
  30% {
    -webkit-mask-position: 25% 75%;
            mask-position: 25% 75%;
  }
  40% {
    -webkit-mask-position: 0% 50%;
            mask-position: 0% 50%;
  }
  50% {
    -webkit-mask-position: 0% 0%;
            mask-position: 0% 0%;
  }
  60% {
    -webkit-mask-position: 50% 25%;
            mask-position: 50% 25%;
  }
  70% {
    -webkit-mask-position: 50% 50%;
            mask-position: 50% 50%;
  }
  80% {
    -webkit-mask-position: 50% 100%;
            mask-position: 50% 100%;
  }
  90% {
    -webkit-mask-position: 75% 50%;
            mask-position: 75% 50%;
  }
  100% {
    -webkit-mask-position: 100% 50%;
            mask-position: 100% 50%;
  }
}

@keyframes gridAnimation {
  0% {
    -webkit-mask-position: 100% 50%;
            mask-position: 100% 50%;
  }
  10% {
    -webkit-mask-position: 75% 100%;
            mask-position: 75% 100%;
  }
  20% {
    -webkit-mask-position: 50% 100%;
            mask-position: 50% 100%;
  }
  30% {
    -webkit-mask-position: 25% 75%;
            mask-position: 25% 75%;
  }
  40% {
    -webkit-mask-position: 0% 50%;
            mask-position: 0% 50%;
  }
  50% {
    -webkit-mask-position: 0% 0%;
            mask-position: 0% 0%;
  }
  60% {
    -webkit-mask-position: 50% 25%;
            mask-position: 50% 25%;
  }
  70% {
    -webkit-mask-position: 50% 50%;
            mask-position: 50% 50%;
  }
  80% {
    -webkit-mask-position: 50% 100%;
            mask-position: 50% 100%;
  }
  90% {
    -webkit-mask-position: 75% 50%;
            mask-position: 75% 50%;
  }
  100% {
    -webkit-mask-position: 100% 50%;
            mask-position: 100% 50%;
  }
}
@-webkit-keyframes animateHeroStroke {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}
@keyframes animateHeroStroke {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../fonts/PlusJakartaSans.eot");
  src: url("../fonts/PlusJakartaSans.eot?#iefix") format("embedded-opentype"), url("../fonts/PlusJakartaSans.ttf") format("truetype"), url("../fonts/PlusJakartaSans.woff") format("woff"), url("../fonts/PlusJakartaSans.woff2") format("woff2");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  font-family: "PlusJakartaSans", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-y: none;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 48px;
}

.container--large {
  max-width: 1356px;
}

.container--full {
  max-width: 100%;
  padding: 0;
  overflow: hidden;
}

.section {
  position: relative;
  overflow: hidden;
}
.section::before, .section::after {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.section .container {
  z-index: 2;
  position: relative;
}

.title {
  font-weight: 700;
  letter-spacing: 0.01em;
}

.title span {
  display: inline-block;
}

.subtitle {
  font-weight: 600;
  letter-spacing: 0.01em;
}

.text--white {
  color: #FFFFFF;
}

@-webkit-keyframes gradiet-text-animation {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes gradiet-text-animation {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.text--gradient {
  position: relative;
  color: inherit;
}
.text--gradient::before {
  content: attr(data-text);
  position: absolute;
  display: inline;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  background-image: -webkit-linear-gradient(353.21deg, #FA6069 32.86%, #6058F2 91.29%);
  background-image: -o-linear-gradient(353.21deg, #FA6069 32.86%, #6058F2 91.29%);
  background-image: linear-gradient(96.79deg, #FA6069 32.86%, #6058F2 91.29%);
  -webkit-background-size: 200% 100%;
          background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradiet-text-animation 10s infinite ease;
          animation: gradiet-text-animation 10s infinite ease;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 22px;
  padding: 0 8px;
  -webkit-border-radius: 22px;
          border-radius: 22px;
  background-color: #FFF2D1;
}

.badge__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #D09600;
  white-space: nowrap;
}

.badge__text--bold {
  font-weight: 700;
}

.badge__decoration {
  width: 12px;
  height: 12px;
  color: #FFC123;
}

.badge--large {
  height: 38px;
  padding: 0 12px;
}

.badge--uppercase .badge__text {
  text-transform: uppercase;
}

.badge--large .badge__text {
  font-size: 14px;
  line-height: 38px;
}

.badge--large .badge__decoration {
  width: 14px;
  height: 14px;
}

.badge__decoration + .badge__decoration {
  margin-left: 2px;
}

.badge__decoration + .badge__text {
  margin-left: 10px;
}

.button::before, .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 56px;
  padding: 0 32px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  -webkit-border-radius: 28px;
          border-radius: 28px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
@media (max-width: 1200px) {
  .button::before, .button {
    height: 46px;
    padding: 0 12px;
  }
}

.button--large,
.button--large::before {
  min-width: 200px;
}

.social__link:active, .social__link:focus-visible, .social__link:hover, .button:active, .button:focus-visible, .button:hover {
  background-color: transparent;
}
.social__link:active::before, .social__link:focus-visible::before, .social__link:hover::before, .button:active::before, .button:focus-visible::before, .button:hover::before {
  opacity: 1;
}

.button {
  background-color: #23242A;
}
.button::before {
  content: attr(data-button-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-image: -webkit-linear-gradient(353.21deg, #FA6069 32.86%, #6058F2 91.29%);
  background-image: -o-linear-gradient(353.21deg, #FA6069 32.86%, #6058F2 91.29%);
  background-image: linear-gradient(96.79deg, #FA6069 32.86%, #6058F2 91.29%);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button:active {
  background-color: rgba(35, 36, 42, 0.8);
}
.button:active::before {
  opacity: 0.8;
}

.slider {
  max-width: 100%;
  overflow: hidden;
}

.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: visible;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-points-x: repeat(100px);
      scroll-snap-points-x: repeat(100px);
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
}

.slider__item + .slider__item {
  margin-left: 16px;
}

.slider__link {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.slider__link:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.slider__link:focus-visible {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.slider__link:active {
  -webkit-filter: grayscale(0) brightness(0.9);
          filter: grayscale(0) brightness(0.9);
}

.slider__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.slider__image {
  height: 64px;
  max-width: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 32px;
          border-radius: 32px;
}

.slider__text {
  margin-top: 16px;
  font-size: 12px;
  line-height: 18px;
  color: #767676;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.navigation__item + .navigation__item {
  margin-left: 24px;
}

.navigation__link:focus-visible, .navigation__link:hover {
  border-color: #23242A;
}

.navigation__link--active,
.navigation__link:active {
  text-stroke: 0.04em #23242A;
  -webkit-text-stroke: 0.04em #23242A;
}

.navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid transparent;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  text-stroke: 0em transparent;
  -webkit-text-stroke: 0em transparent;
  letter-spacing: 0.05em;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.social + .social {
  margin-left: 16px;
}

.social__link::before, .social__link {
  display: block;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.social__link:active, .social__link:focus-visible, .social__link:hover, .button:hover, .button:focus-visible, .button:active {
  background-color: transparent;
}
.social__link:active::before, .social__link:focus-visible::before, .social__link:hover::before, .button:hover::before, .button:focus-visible::before, .button:active::before {
  opacity: 1;
}

.social__link {
  position: relative;
  background-color: #23242A;
  cursor: pointer;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
}
.social__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background-image: -webkit-linear-gradient(353.21deg, #FA6069 32.86%, #6058F2 91.29%);
  background-image: -o-linear-gradient(353.21deg, #FA6069 32.86%, #6058F2 91.29%);
  background-image: linear-gradient(96.79deg, #FA6069 32.86%, #6058F2 91.29%);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.social__link:active {
  background-color: rgba(35, 36, 42, 0.8);
}
.social__link:active::before {
  opacity: 0.8;
}

.social__link[href*=discord] {
  -webkit-mask-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="white" color="white"><path d="M9.14437 11.2547V11.2469C8.24733 11.2469 7.52344 11.9885 7.52344 12.8999C7.52344 13.8114 8.24733 14.553 9.14437 14.553C10.0414 14.553 10.7654 13.8114 10.7654 12.9077C10.7654 11.9962 10.0335 11.2547 9.14437 11.2547Z" fill="currentColor" /> <path d="M12 0.28125C5.52792 0.28125 0.28125 5.52792 0.28125 12C0.28125 18.4721 5.52792 23.7188 12 23.7188C18.4721 23.7188 23.7188 18.4721 23.7188 12C23.7188 5.52792 18.4721 0.28125 12 0.28125ZM16.3357 18.1833C16.3357 18.1833 15.7453 17.5266 15.3206 16.9474C17.3664 16.3681 18.1378 15.2095 18.1378 15.2095C16.0106 16.5247 14.024 17.0307 12 16.9649C9.97598 17.0305 7.98938 16.5247 5.86247 15.2095C5.86247 15.2095 6.63356 16.3681 8.67966 16.9474C8.25478 17.5268 7.66462 18.1833 7.66462 18.1833C4.15495 18.1061 2.79375 15.9587 2.715 16.0514C2.715 11.2702 5.03625 7.377 5.03625 7.377C7.11356 5.88638 9.04927 5.82441 9.41906 5.81667L9.65517 6.04069C7.00341 6.7822 5.72081 7.94086 5.72081 7.94086C7.99673 6.84159 10.1418 6.45492 12 6.43177C13.8582 6.4552 16.0031 6.84159 18.2792 7.94086C18.2792 7.94086 16.9966 6.7822 14.3449 6.04069L14.5809 5.81667C14.9508 5.82441 16.8864 5.88619 18.9637 7.377C18.9637 7.377 21.285 11.2701 21.285 16.0514C21.2063 15.9587 19.845 18.1061 16.3357 18.1833Z" fill="currentColor" /> <path d="M14.8554 11.2468V11.2546C13.9662 11.2546 13.2344 11.9961 13.2344 12.9076C13.2344 13.8113 13.9584 14.5529 14.8554 14.5529C15.7524 14.5529 16.4763 13.8113 16.4763 12.8998C16.4763 11.9883 15.7524 11.2468 14.8554 11.2468Z" fill="currentColor" /> </svg>');
          mask-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="white" color="white"><path d="M9.14437 11.2547V11.2469C8.24733 11.2469 7.52344 11.9885 7.52344 12.8999C7.52344 13.8114 8.24733 14.553 9.14437 14.553C10.0414 14.553 10.7654 13.8114 10.7654 12.9077C10.7654 11.9962 10.0335 11.2547 9.14437 11.2547Z" fill="currentColor" /> <path d="M12 0.28125C5.52792 0.28125 0.28125 5.52792 0.28125 12C0.28125 18.4721 5.52792 23.7188 12 23.7188C18.4721 23.7188 23.7188 18.4721 23.7188 12C23.7188 5.52792 18.4721 0.28125 12 0.28125ZM16.3357 18.1833C16.3357 18.1833 15.7453 17.5266 15.3206 16.9474C17.3664 16.3681 18.1378 15.2095 18.1378 15.2095C16.0106 16.5247 14.024 17.0307 12 16.9649C9.97598 17.0305 7.98938 16.5247 5.86247 15.2095C5.86247 15.2095 6.63356 16.3681 8.67966 16.9474C8.25478 17.5268 7.66462 18.1833 7.66462 18.1833C4.15495 18.1061 2.79375 15.9587 2.715 16.0514C2.715 11.2702 5.03625 7.377 5.03625 7.377C7.11356 5.88638 9.04927 5.82441 9.41906 5.81667L9.65517 6.04069C7.00341 6.7822 5.72081 7.94086 5.72081 7.94086C7.99673 6.84159 10.1418 6.45492 12 6.43177C13.8582 6.4552 16.0031 6.84159 18.2792 7.94086C18.2792 7.94086 16.9966 6.7822 14.3449 6.04069L14.5809 5.81667C14.9508 5.82441 16.8864 5.88619 18.9637 7.377C18.9637 7.377 21.285 11.2701 21.285 16.0514C21.2063 15.9587 19.845 18.1061 16.3357 18.1833Z" fill="currentColor" /> <path d="M14.8554 11.2468V11.2546C13.9662 11.2546 13.2344 11.9961 13.2344 12.9076C13.2344 13.8113 13.9584 14.5529 14.8554 14.5529C15.7524 14.5529 16.4763 13.8113 16.4763 12.8998C16.4763 11.9883 15.7524 11.2468 14.8554 11.2468Z" fill="currentColor" /> </svg>');
}

.social__link[href*=twitter] {
  -webkit-mask-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="white" color="white"><path d="M12 0C5.3736 0 0 5.3736 0 12C0 18.6264 5.3736 24 12 24C18.6264 24 24 18.6264 24 12C24 5.3736 18.6264 0 12 0ZM17.4791 9.35632C17.4844 9.47443 17.4869 9.59308 17.4869 9.71228C17.4869 13.3519 14.7166 17.5488 9.65021 17.549H9.65039H9.65021C8.09473 17.549 6.64728 17.0931 5.42834 16.3118C5.64386 16.3372 5.86322 16.3499 6.08533 16.3499C7.37585 16.3499 8.56348 15.9097 9.50629 15.1708C8.30054 15.1485 7.28394 14.3522 6.93311 13.2578C7.10101 13.29 7.27368 13.3076 7.45074 13.3076C7.70215 13.3076 7.94568 13.2737 8.17712 13.2105C6.91681 12.9582 5.96741 11.8444 5.96741 10.5106C5.96741 10.4982 5.96741 10.487 5.96777 10.4755C6.33893 10.6818 6.76337 10.806 7.21527 10.8199C6.47571 10.3264 5.98956 9.48285 5.98956 8.52722C5.98956 8.02258 6.12598 7.5498 6.36255 7.14276C7.72083 8.80939 9.75073 9.90546 12.0399 10.0206C11.9927 9.81885 11.9683 9.60864 11.9683 9.39258C11.9683 7.87207 13.2019 6.63849 14.723 6.63849C15.5153 6.63849 16.2308 6.97339 16.7335 7.50879C17.361 7.38501 17.9502 7.15576 18.4825 6.84027C18.2765 7.48315 17.84 8.02258 17.2712 8.36371C17.8284 8.29706 18.3594 8.14929 18.8529 7.92993C18.4843 8.48236 18.0168 8.96759 17.4791 9.35632V9.35632Z" fill="currentColor" /> </svg>');
          mask-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="white" color="white"><path d="M12 0C5.3736 0 0 5.3736 0 12C0 18.6264 5.3736 24 12 24C18.6264 24 24 18.6264 24 12C24 5.3736 18.6264 0 12 0ZM17.4791 9.35632C17.4844 9.47443 17.4869 9.59308 17.4869 9.71228C17.4869 13.3519 14.7166 17.5488 9.65021 17.549H9.65039H9.65021C8.09473 17.549 6.64728 17.0931 5.42834 16.3118C5.64386 16.3372 5.86322 16.3499 6.08533 16.3499C7.37585 16.3499 8.56348 15.9097 9.50629 15.1708C8.30054 15.1485 7.28394 14.3522 6.93311 13.2578C7.10101 13.29 7.27368 13.3076 7.45074 13.3076C7.70215 13.3076 7.94568 13.2737 8.17712 13.2105C6.91681 12.9582 5.96741 11.8444 5.96741 10.5106C5.96741 10.4982 5.96741 10.487 5.96777 10.4755C6.33893 10.6818 6.76337 10.806 7.21527 10.8199C6.47571 10.3264 5.98956 9.48285 5.98956 8.52722C5.98956 8.02258 6.12598 7.5498 6.36255 7.14276C7.72083 8.80939 9.75073 9.90546 12.0399 10.0206C11.9927 9.81885 11.9683 9.60864 11.9683 9.39258C11.9683 7.87207 13.2019 6.63849 14.723 6.63849C15.5153 6.63849 16.2308 6.97339 16.7335 7.50879C17.361 7.38501 17.9502 7.15576 18.4825 6.84027C18.2765 7.48315 17.84 8.02258 17.2712 8.36371C17.8284 8.29706 18.3594 8.14929 18.8529 7.92993C18.4843 8.48236 18.0168 8.96759 17.4791 9.35632V9.35632Z" fill="currentColor" /> </svg>');
}

.social__link[href*=medium] {
  -webkit-mask-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="white" color="white"><path fill-rule="evenodd" clip-rule="evenodd" d="M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12ZM8.02537 17.1779C10.8656 17.1779 13.168 14.8597 13.168 12C13.168 9.14035 10.8656 6.82214 8.02542 6.82214C5.18522 6.82214 2.88281 9.14035 2.88281 12C2.88281 14.8597 5.18522 17.1779 8.02537 17.1779ZM16.2392 16.8741C17.6593 16.8741 18.8105 14.6919 18.8105 12C18.8105 9.30812 17.6593 7.12595 16.2392 7.12595C14.8192 7.12595 13.668 9.30812 13.668 12C13.668 14.6919 14.8192 16.8741 16.2392 16.8741ZM21.1173 12C21.1173 14.4118 20.7124 16.367 20.2129 16.367C19.7135 16.367 19.3086 14.4118 19.3086 12C19.3086 9.58818 19.7134 7.63303 20.2129 7.63303C20.7124 7.63303 21.1173 9.58818 21.1173 12Z" fill="currentColor" /> </svg>');
          mask-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="white" color="white"><path fill-rule="evenodd" clip-rule="evenodd" d="M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12ZM8.02537 17.1779C10.8656 17.1779 13.168 14.8597 13.168 12C13.168 9.14035 10.8656 6.82214 8.02542 6.82214C5.18522 6.82214 2.88281 9.14035 2.88281 12C2.88281 14.8597 5.18522 17.1779 8.02537 17.1779ZM16.2392 16.8741C17.6593 16.8741 18.8105 14.6919 18.8105 12C18.8105 9.30812 17.6593 7.12595 16.2392 7.12595C14.8192 7.12595 13.668 9.30812 13.668 12C13.668 14.6919 14.8192 16.8741 16.2392 16.8741ZM21.1173 12C21.1173 14.4118 20.7124 16.367 20.2129 16.367C19.7135 16.367 19.3086 14.4118 19.3086 12C19.3086 9.58818 19.7134 7.63303 20.2129 7.63303C20.7124 7.63303 21.1173 9.58818 21.1173 12Z" fill="currentColor" /> </svg>');
}

.social__link[href*=github] {
  -webkit-mask-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="white" color="white"><path d="M11.9985 0.249817C5.373 0.249817 0 5.64381 0 12.2978C0 17.6198 3.438 22.1348 8.208 23.7293C8.808 23.8403 9.027 23.4683 9.027 23.1488C9.027 22.8623 9.0165 22.1048 9.0105 21.0998C5.673 21.8273 4.968 19.4843 4.968 19.4843C4.4235 18.0923 3.636 17.7218 3.636 17.7218C2.5455 16.9748 3.717 16.9898 3.717 16.9898C4.9215 17.0753 5.5545 18.2318 5.5545 18.2318C6.6255 20.0723 8.364 19.5413 9.048 19.2323C9.156 18.4538 9.4665 17.9228 9.81 17.6213C7.146 17.3168 4.344 16.2833 4.344 11.6678C4.344 10.3523 4.812 9.27681 5.58 8.43381C5.4555 8.12931 5.0445 6.90381 5.697 5.24631C5.697 5.24631 6.705 4.92232 8.997 6.48081C9.954 6.21381 10.98 6.08031 12.0015 6.07581C13.02 6.08181 14.0475 6.21381 15.006 6.48231C17.2965 4.92382 18.303 5.24782 18.303 5.24782C18.957 6.90681 18.546 8.13081 18.423 8.43531C19.1925 9.27831 19.656 10.3538 19.656 11.6693C19.656 16.2968 16.851 17.3153 14.178 17.6138C14.6085 17.9858 14.9925 18.7208 14.9925 19.8443C14.9925 21.4553 14.9775 22.7543 14.9775 23.1488C14.9775 23.4713 15.1935 23.8463 15.8025 23.7278C20.565 22.1318 24 17.6183 24 12.2978C24 5.64381 18.627 0.249817 11.9985 0.249817Z" fill="currentColor" /> </svg>');
          mask-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="white" color="white"><path d="M11.9985 0.249817C5.373 0.249817 0 5.64381 0 12.2978C0 17.6198 3.438 22.1348 8.208 23.7293C8.808 23.8403 9.027 23.4683 9.027 23.1488C9.027 22.8623 9.0165 22.1048 9.0105 21.0998C5.673 21.8273 4.968 19.4843 4.968 19.4843C4.4235 18.0923 3.636 17.7218 3.636 17.7218C2.5455 16.9748 3.717 16.9898 3.717 16.9898C4.9215 17.0753 5.5545 18.2318 5.5545 18.2318C6.6255 20.0723 8.364 19.5413 9.048 19.2323C9.156 18.4538 9.4665 17.9228 9.81 17.6213C7.146 17.3168 4.344 16.2833 4.344 11.6678C4.344 10.3523 4.812 9.27681 5.58 8.43381C5.4555 8.12931 5.0445 6.90381 5.697 5.24631C5.697 5.24631 6.705 4.92232 8.997 6.48081C9.954 6.21381 10.98 6.08031 12.0015 6.07581C13.02 6.08181 14.0475 6.21381 15.006 6.48231C17.2965 4.92382 18.303 5.24782 18.303 5.24782C18.957 6.90681 18.546 8.13081 18.423 8.43531C19.1925 9.27831 19.656 10.3538 19.656 11.6693C19.656 16.2968 16.851 17.3153 14.178 17.6138C14.6085 17.9858 14.9925 18.7208 14.9925 19.8443C14.9925 21.4553 14.9775 22.7543 14.9775 23.1488C14.9775 23.4713 15.1935 23.8463 15.8025 23.7278C20.565 22.1318 24 17.6183 24 12.2978C24 5.64381 18.627 0.249817 11.9985 0.249817Z" fill="currentColor" /> </svg>');
}

.social__text {
  font-size: 0px;
  line-height: 0px;
  color: transparent;
  visibility: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 100%;
  z-index: 100;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  -webkit-mask-size: 100% 300%;
          mask-size: 100% 300%;
  -webkit-mask-position: 100% 100%;
          mask-position: 100% 100%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(75%, black), to(transparent));
  -webkit-mask-image: -webkit-linear-gradient(black 75%, transparent);
          mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(75%, black), to(transparent));
          mask-image: linear-gradient(black 75%, transparent);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (max-width: 1200px) {
  .header {
    height: 60px;
  }
}

.header .container {
  z-index: 1;
}

.header--fixed::before {
  -webkit-mask-position: 100% 0%;
          mask-position: 100% 0%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #23242A;
}
@media (max-width: 1200px) {
  .header__logo {
    height: 24px;
  }
}

.header__logo-image {
  width: 32px;
  height: 32px;
  color: inherit;
}
@media (max-width: 1200px) {
  .header__logo-image {
    width: 24px;
    height: 24px;
  }
}

.header__logo-text {
  margin-left: 8px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: inherit;
}
@media (max-width: 1200px) {
  .header__logo-text {
    margin-left: 6px;
    font-size: 14px;
    line-height: 24px;
  }
}

.header__navigation {
  margin-left: 24px;
}

.header__externals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header__socials {
  margin-right: 32px;
}
@media (max-width: 1200px) {
  .header__socials {
    display: none;
  }
}

@media (max-width: 1200px) {
  .header__docs {
    min-width: unset;
  }
}

.footer {
  padding-top: 68px;
  padding-bottom: 56px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #151515;
}
@media (max-width: 1200px) {
  .footer {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #FFFFFF;
}

.footer__logo-image {
  width: 32px;
  height: 32px;
  color: inherit;
}

.footer__logo-text {
  margin-left: 8px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: inherit;
}

.footer__navigation {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto 0;
}

.footer__item + .footer__item {
  margin-left: 48px;
}

.footer__link {
  padding: 0 8px;
  color: #FFFFFF;
}
.footer__link:hover {
  border-color: #FFFFFF;
}
.footer__link:focus-visible {
  border-color: #FFFFFF;
}

.footer__link--active,
.footer__link:active {
  text-stroke: 0.04em #FFFFFF;
  -webkit-text-stroke: 0.04em #FFFFFF;
}

.copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 48px auto 0;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 12px;
}

.copyrights__created {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.copyrights__text {
  font-size: 14px;
  line-height: 16px;
  color: inherit;
}

.copyrights__link {
  width: 100px;
  color: inherit;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.copyrights__link:hover {
  color: #FFFFFF;
}
.copyrights__link:focus-visible {
  color: #FFFFFF;
}
.copyrights__link:active {
  color: #FFFFFF;
  opacity: 0.9;
}

.copyrights__rights {
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap;
}

.section--hero {
  padding-top: 216px;
  padding-bottom: 60px;
}
.section--hero::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-radial-gradient(at 70% 20%, #FA6069 0px, transparent 52%), -webkit-radial-gradient(at 45% -20%, #0038FF 0px, transparent 50%), -webkit-radial-gradient(at 25% 0%, #7F30FF 0px, transparent 50%);
  background-image: -o-radial-gradient(at 70% 20%, #FA6069 0px, transparent 52%), -o-radial-gradient(at 45% -20%, #0038FF 0px, transparent 50%), -o-radial-gradient(at 25% 0%, #7F30FF 0px, transparent 50%);
  background-image: radial-gradient(at 70% 20%, #FA6069 0px, transparent 52%), radial-gradient(at 45% -20%, #0038FF 0px, transparent 50%), radial-gradient(at 25% 0%, #7F30FF 0px, transparent 50%);
  -webkit-filter: blur(150px);
          filter: blur(150px);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.9;
}
@media (max-width: 1200px) {
  .section--hero {
    padding-top: 128px;
    padding-bottom: 42px;
  }
}

.hero {
  display: grid;
  grid-template-columns: 172px 1fr;
  grid-template-rows: auto auto;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
  row-gap: 36px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .hero {
    grid-template-columns: 128px 1fr;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    row-gap: 8px;
  }
}

.hero__ethereum {
  grid-column: 1/1;
  grid-row: 1/-1;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.hero__title {
  display: block;
  font-size: 100px;
  line-height: 110px;
  font-weight: 700;
  word-spacing: -8px;
}
@media (max-width: 1200px) {
  .hero__title {
    font-size: 68px;
    line-height: 72px;
  }
}

.hero__react-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 72px;
  width: 118px;
}
@media (max-width: 1200px) {
  .hero__react-wrapper {
    height: 46px;
    width: 88px;
  }
}

.hero__react {
  position: absolute;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.hero__description {
  font-size: 24px;
  line-height: 38px;
}

.hero__ethereum {
  stroke-width: 2.5px;
}

.hero__react {
  stroke-width: 3px;
}

.hero__ethereum *,
.hero__react * {
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  stroke-linecap: round;
  stroke-linejoin: miter;
}

.hero__ethereum > * {
  -webkit-animation: animateHeroStroke 1.5s ease forwards;
          animation: animateHeroStroke 1.5s ease forwards;
}

.hero__react > * {
  -webkit-animation: animateHeroStroke 1s ease forwards;
          animation: animateHeroStroke 1s ease forwards;
}

.section--dependents {
  padding-top: 58px;
  padding-bottom: 74px;
}
@media (max-width: 1200px) {
  .section--dependents {
    padding-top: 42px;
    padding-bottom: 24px;
  }
}

.dependents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.dependents__badge {
  margin: 0 auto;
}

.dependents__info {
  margin: 10px auto 0;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
}

.dependents__slider {
  margin: 32px auto 0;
  max-width: 1356px;
}
@media (max-width: 1200px) {
  .dependents__slider {
    margin: 28px auto 0;
    max-width: 100%;
  }
}

.dependents__slider .slider__list {
  padding: 0 24px;
}

.dependents__slide .slider__link,
.dependents__slide .slider__text {
  min-width: 100px;
}

.section--testimonials {
  padding-top: 76px;
  padding-bottom: 76px;
}
.section--testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(#D5DAE1 1px, transparent 1px), -webkit-linear-gradient(left, #D5DAE1 1px, transparent 1px);
  background-image: -o-linear-gradient(#D5DAE1 1px, transparent 1px), -o-linear-gradient(left, #D5DAE1 1px, transparent 1px);
  background-image: linear-gradient(#D5DAE1 1px, transparent 1px), linear-gradient(90deg, #D5DAE1 1px, transparent 1px);
  -webkit-background-size: 24px 24px;
          background-size: 24px 24px;
  background-repeat: repeat;
  opacity: 0.4;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-mask-image: -webkit-radial-gradient(black, transparent);
          mask-image: radial-gradient(black, transparent);
  -webkit-mask-size: 55% 55%;
          mask-size: 55% 55%;
  -webkit-mask-position: 60% 15%;
          mask-position: 60% 15%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-animation: gridAnimation 20s linear infinite;
          animation: gridAnimation 20s linear infinite;
}
@media (max-width: 1200px) {
  .section--testimonials {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 352px));
  grid-template-areas: "head head testimonial1" ".testimonial2 testimonial3" "testimonial4 testimonial5 testimonial6";
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__head {
  grid-column: 1/3;
}

.testimonials__title {
  display: block;
  margin-top: 10px;
  font-size: 84px;
  line-height: 100px;
  letter-spacing: -0.03em;
}
@media (max-width: 1200px) {
  .testimonials__title {
    font-size: 60px;
    line-height: 72px;
  }
}

.testimonials__list {
  display: contents;
}

.testimonials__item {
  width: 100%;
  padding: 16px;
  -webkit-filter: drop-shadow(0px 12px 36px rgba(35, 36, 42, 0.05));
          filter: drop-shadow(0px 12px 36px rgba(35, 36, 42, 0.05));
}
@media (max-width: 1200px) {
  .testimonials__item {
    padding: 12px;
    -webkit-filter: drop-shadow(0px 8px 22px rgba(35, 36, 42, 0.05));
            filter: drop-shadow(0px 8px 22px rgba(35, 36, 42, 0.05));
  }
}

.testimonials__item:nth-child(1) {
  grid-area: testimonial1;
}

.testimonials__item:nth-child(2) {
  grid-area: testimonial2;
}

.testimonials__item:nth-child(3) {
  grid-area: testimonial3;
}

.testimonials__item:nth-child(4) {
  grid-area: testimonial4;
}

.testimonials__item:nth-child(5) {
  grid-area: testimonial5;
}

.testimonials__item:nth-child(6) {
  grid-area: testimonial6;
}

.testimonials__image {
  max-width: 100%;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.section--start {
  padding-top: 56px;
}
.section--start::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 125%;
  height: 100%;
  background-image: -webkit-radial-gradient(at 100% 100%, #7F30FF 0px, transparent 50%), -webkit-radial-gradient(at 65% 45%, #0038FF 0px, transparent 50%), -webkit-radial-gradient(at 35% 45%, #FF4880 0px, transparent 50%), -webkit-radial-gradient(at 0% 100%, #FF8000 0px, transparent 50%);
  background-image: -o-radial-gradient(at 100% 100%, #7F30FF 0px, transparent 50%), -o-radial-gradient(at 65% 45%, #0038FF 0px, transparent 50%), -o-radial-gradient(at 35% 45%, #FF4880 0px, transparent 50%), -o-radial-gradient(at 0% 100%, #FF8000 0px, transparent 50%);
  background-image: radial-gradient(at 100% 100%, #7F30FF 0px, transparent 50%), radial-gradient(at 65% 45%, #0038FF 0px, transparent 50%), radial-gradient(at 35% 45%, #FF4880 0px, transparent 50%), radial-gradient(at 0% 100%, #FF8000 0px, transparent 50%);
  -webkit-background-size: 120% 100%;
          background-size: 120% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  -webkit-transform: translateX(-50%) translateY(-60%);
      -ms-transform: translateX(-50%) translateY(-60%);
          transform: translateX(-50%) translateY(-60%);
  opacity: 0.9;
}
@media (max-width: 1200px) {
  .section--start {
    padding-top: 24px;
  }
}

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.start__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
  row-gap: 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .start__header {
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
}

.start__button {
  font-size: 56px;
  line-height: 72px;
  color: #F0F0F0;
  white-space: nowrap;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.start__button:hover {
  color: #23242A;
}
.start__button:focus-visible {
  color: #23242A;
}
@media (max-width: 1200px) {
  .start__button {
    font-size: 38px;
  }
}

.start__subtitle {
  font-size: 32px;
  line-height: 72px;
  margin-top: 24px;
  text-align: center;
}
@media (max-width: 1200px) {
  .start__subtitle {
    font-size: 28px;
  }
}

.start__link {
  margin: 24px auto 0;
}

.start__terminal {
  width: 100%;
  max-width: 832px;
  height: 510px;
  margin: 54px auto 0;
  -webkit-border-radius: 8px 8px 0 0;
          border-radius: 8px 8px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1200px) {
  .start__terminal {
    margin: 62px auto 0;
    max-width: 540px;
    height: 296px;
  }
}

.section--integration {
  padding-top: 152px;
  padding-bottom: 104px;
  background-color: #000000;
}
.section--integration::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(#FA6069 1px, transparent 1px), -webkit-linear-gradient(left, #FA6069 1px, transparent 1px);
  background-image: -o-linear-gradient(#FA6069 1px, transparent 1px), -o-linear-gradient(left, #FA6069 1px, transparent 1px);
  background-image: linear-gradient(#FA6069 1px, transparent 1px), linear-gradient(90deg, #FA6069 1px, transparent 1px);
  -webkit-background-size: 24px 24px;
          background-size: 24px 24px;
  background-repeat: repeat;
  opacity: 0.4;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-mask-image: -webkit-radial-gradient(black, transparent);
          mask-image: radial-gradient(black, transparent);
  -webkit-mask-size: 65% 60%;
          mask-size: 65% 60%;
  -webkit-mask-position: 100% 50%;
          mask-position: 100% 50%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-animation: gridAnimation 20s linear infinite;
          animation: gridAnimation 20s linear infinite;
}
@media (max-width: 1200px) {
  .section--integration {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}

.integration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 54px;
     -moz-column-gap: 54px;
          column-gap: 54px;
  width: 100%;
  max-width: 100%;
}

.integration__content {
  width: 100%;
  max-width: 536px;
}

.integration__title {
  font-size: 84px;
  line-height: 106px;
}
@media (max-width: 1200px) {
  .integration__title {
    font-size: 60px;
    line-height: 72px;
  }
}

.integration__description {
  font-size: 32px;
  line-height: 72px;
  margin-top: 22px;
}
@media (max-width: 1200px) {
  .integration__description {
    font-size: 28px;
  }
}

.integration__list {
  margin-top: 56px;
}

.integration__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: #A4A4A4;
}
.integration__item::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" color="rgb(112,211,116)"> <path fill-rule="evenodd" clip-rule="evenodd" d="M20 7.5975L9.90608 18L4 12.735L5.78463 11.0132L9.77205 14.5679L18.0857 6L20 7.5975Z" fill="currentColor"/> </svg>');
  -webkit-background-size: 24px 24px;
          background-size: 24px 24px;
}

.integration__item + .integration__item {
  margin-top: 24px;
}

.section--features {
  padding-top: 208px;
}
.section--features::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 125%;
  height: 100%;
  background-image: -webkit-radial-gradient(at 0% 49%, rgba(255, 193, 7, 0.46) 0px, transparent 50%), -webkit-radial-gradient(at 0% 77%, rgba(255, 193, 7, 0.46) 0px, transparent 50%);
  background-image: -o-radial-gradient(at 0% 49%, rgba(255, 193, 7, 0.46) 0px, transparent 50%), -o-radial-gradient(at 0% 77%, rgba(255, 193, 7, 0.46) 0px, transparent 50%);
  background-image: radial-gradient(at 0% 49%, rgba(255, 193, 7, 0.46) 0px, transparent 50%), radial-gradient(at 0% 77%, rgba(255, 193, 7, 0.46) 0px, transparent 50%);
  background-repeat: no-repeat;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  -webkit-transform: translateX(-50%) translateY(-60%);
      -ms-transform: translateX(-50%) translateY(-60%);
          transform: translateX(-50%) translateY(-60%);
  opacity: 0.9;
}
@media (max-width: 1200px) {
  .section--features {
    padding-top: 102px;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-bottom: 148px;
  border-bottom: 1px solid rgba(35, 36, 42, 0.1);
}
@media (max-width: 1200px) {
  .features {
    padding-bottom: 102px;
  }
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 100%;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.features__row + .features__row {
  margin-top: 220px;
}
@media (max-width: 1200px) {
  .features__row + .features__row {
    margin-top: 90px;
  }
}

.features__row:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.features__image {
  width: 100%;
  max-width: 544px;
  max-height: 368px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1200px) {
  .features__image {
    max-width: 100%;
    max-height: 220px;
  }
}

.features__column {
  width: 100%;
  max-width: 448px;
}
@media (max-width: 1200px) {
  .features__column {
    max-width: 328px;
  }
}

.features__title {
  margin-top: 40px;
  font-size: 84px;
  line-height: 72px;
  letter-spacing: -0.03em;
}
@media (max-width: 1200px) {
  .features__title {
    margin-top: 16px;
    font-size: 60px;
  }
}

.features__text {
  margin-top: 40px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: #767676;
}
@media (max-width: 1200px) {
  .features__text {
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: unset;
  }
}

.features__text + .features__text {
  margin-top: 24px;
}

.section--resources {
  padding-top: 140px;
  padding-bottom: 140px;
}
@media (max-width: 1200px) {
  .section--resources {
    padding-top: 56px;
    padding-bottom: 68px;
  }
}

.resources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
}

.resources__title {
  font-size: 84px;
  line-height: 100px;
  text-align: center;
  letter-spacing: -0.03em;
}
@media (max-width: 1200px) {
  .resources__title {
    font-size: 60px;
    line-height: 72px;
  }
}

.resources__grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 352px);
  grid-column-gap: 32px;
  grid-row-gap: 50px;
  margin-top: 40px;
}
@media (max-width: 1200px) {
  .resources__grid {
    grid-template-columns: repeat(3, 210px);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    margin-top: 32px;
  }
}

.resources__picture {
  grid-column: 2/3;
  grid-row: 1/3;
}

.resources__image {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.resources__item .text--gradient::before {
  opacity: 0;
}

.resources__item:active, .resources__item:focus-visible, .resources__item:hover {
  background-color: #000000;
  border-color: #000000;
}
.resources__item:active .text--gradient, .resources__item:focus-visible .text--gradient, .resources__item:hover .text--gradient {
  color: #FFFFFF;
}
.resources__item:active .text--gradient::before, .resources__item:focus-visible .text--gradient::before, .resources__item:hover .text--gradient::before {
  opacity: 1;
}
.resources__item:active .resources__icon, .resources__item:focus-visible .resources__icon, .resources__item:hover .resources__icon {
  color: #FFFFFF;
}
.resources__item:active .resources__description, .resources__item:focus-visible .resources__description, .resources__item:hover .resources__description {
  color: #FFFFFF;
}

.resources__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  max-height: 272px;
  padding: 56px 24px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  border: 1px solid rgba(35, 36, 42, 0.1);
  background-color: #FFFFFF;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.resources__item:active {
  opacity: 0.85;
}
@media (max-width: 1200px) {
  .resources__item {
    max-height: 164px;
    padding: 32px 16px;
  }
}

.resources__icon {
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
@media (max-width: 1200px) {
  .resources__icon {
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
  }
}

.resources__name {
  margin-top: 32px;
  font-size: 24px;
  line-height: 38px;
}
@media (max-width: 1200px) {
  .resources__name {
    margin-top: 20px;
    font-size: 18px;
    line-height: 22px;
  }
}

.resources__description {
  margin-top: 16px;
  font-size: 18px;
  line-height: 26px;
  color: #767676;
  white-space: normal;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
@media (max-width: 1200px) {
  .resources__description {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
  }
}

.section--about {
  padding-top: 66px;
  padding-bottom: 66px;
  background-color: #000000;
}
.section--about::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(#FA6069 1px, transparent 1px), -webkit-linear-gradient(left, #FA6069 1px, transparent 1px);
  background-image: -o-linear-gradient(#FA6069 1px, transparent 1px), -o-linear-gradient(left, #FA6069 1px, transparent 1px);
  background-image: linear-gradient(#FA6069 1px, transparent 1px), linear-gradient(90deg, #FA6069 1px, transparent 1px);
  -webkit-background-size: 24px 24px;
          background-size: 24px 24px;
  background-repeat: repeat;
  opacity: 0.4;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-mask-image: -webkit-radial-gradient(black, transparent);
          mask-image: radial-gradient(black, transparent);
  -webkit-mask-size: 65% 65%;
          mask-size: 65% 65%;
  -webkit-mask-position: 50% 50%;
          mask-position: 50% 50%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  z-index: 1;
  -webkit-animation: gridAnimation 20s linear infinite;
          animation: gridAnimation 20s linear infinite;
}
@media (max-width: 1200px) {
  .section--about {
    padding-top: 32px;
    pading-bottom: 32px;
  }
}

.about__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 152px;
  color: #FFFFFF;
  margin: 0 auto;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.about__link:hover {
  color: #4D43FF;
}
.about__link:focus-visible {
  color: #4D43FF;
}
.about__link:active {
  color: #4D43FF;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.about__loop-text {
  margin-top: 52px;
  font-size: 84px;
  line-height: 100px;
  letter-spacing: -0.03em;
  white-space: nowrap;
  color: #FFFFFF;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .about__loop-text {
    margin-top: 44px;
    font-size: 60px;
    line-height: 72px;
  }
}

.about__description {
  margin: 32px auto 0;
  max-width: 544px;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  text-align: center;
}
@media (max-width: 1200px) {
  .about__description {
    margin: 24px auto 0;
    font-size: 28px;
    line-height: 32px;
  }
}

.about__description-link {
  color: #4D43FF;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.about__description-link:hover {
  color: #FFFFFF;
}
.about__description-link:focus-visible {
  color: #FFFFFF;
}
.about__description-link:active {
  color: #FFFFFF;
  opacity: 0.9;
}

.about__socials {
  margin: 84px auto 0;
}
@media (max-width: 1200px) {
  .about__socials {
    margin: 44px auto 0;
  }
}

.about__social + .about__social {
  margin-left: 32px;
}

.about__socials .social__link {
  background-color: #FFFFFF;
}

.about__socials .social__link,
.about__socials .social__link:before {
  width: 32px;
  height: 32px;
}