html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  border: 1px solid #000;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("../fonts/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.eot");
  src: url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue-Medium";
  src: url("../fonts/HelveticaNeue-Medium.eot");
  src: url("../fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg"), url("../fonts/HelveticaNeue-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeue-Medium.woff") format("woff"), url("../fonts/HelveticaNeue-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  font-family: "HelveticaNeue", sans-serif;
  scroll-behavior: smooth;
}

.inline-block {
  display: inline-block;
}

.iScrollIndicator {
  display: none !important;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 44px;
  z-index: 2;
}
@media (max-width: 1200px) {
  .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100vw;
    height: 100%;
    min-height: 100%;
  }
}
@media (max-width: 900px) {
  .container {
    padding: 0 32px;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 88px 24px 46px;
  }
}

.container--near-footer {
  min-height: unset;
}
@media (max-width: 900px) {
  .container--near-footer {
    padding: 56px 32px 24px;
  }
}
@media (max-width: 600px) {
  .container--near-footer {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: auto;
    padding: 88px 24px 40px;
  }
}

.container--left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.smaller-wrapper {
  width: 100%;
  max-width: 556px;
}
@media (max-width: 1200px) {
  .smaller-wrapper {
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .smaller-wrapper .text {
    text-align: center;
  }
}

button, a {
  cursor: pointer;
}

.button-down {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 95px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  z-index: 10;
}
@media (max-width: 900px) {
  .button-down {
    display: none;
  }
}

.main {
  position: relative;
}

.sections-backgrounds {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.section-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  opacity: 0;
}

.section-background--active {
  opacity: 1;
}

.section {
  position: relative;
  min-height: 100vh;
  z-index: 1;
}

.title {
  margin-bottom: 24px;
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-size: 84px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #23242A;
  cursor: default;
}
@media (max-width: 900px) {
  .title {
    font-size: 60px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 32px;
    margin-bottom: 8px;
  }
}

.title-page {
  font-family: "HelveticaNeue-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #23242A;
}

@media (max-width: 600px) {
  .title-page--small {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

.subtitle {
  margin-bottom: 24px;
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #23242A;
}
@media (max-width: 600px) {
  .subtitle {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 32px;
  }
}

.small-title {
  margin-bottom: 24px;
  font-family: "HelveticaNeue-Medium";
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #23242A;
}
@media (max-width: 600px) {
  .small-title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
  }
}

.smallest-title {
  margin-bottom: 16px;
  font-family: "HelveticaNeue-Medium";
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #23242A;
}

.small-text {
  font-size: 12px;
  line-height: 16px;
  color: #23242A;
}

.text {
  font-size: 40px;
  line-height: 1.25;
  font-weight: 500;
}
@media (max-width: 600px) {
  .text {
    font-size: 16px;
    line-height: 24px;
  }
}

.text--left,
.main-title.text--left {
  text-align: left;
}
@media (max-width: 900px) {
  .text--left,
.main-title.text--left {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .section.section--main .title {
    max-width: 212px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-image {
  position: absolute;
  top: 50%;
  right: 50%;
  height: 500px;
  width: 600px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translate(100%, -50%);
      -ms-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  -webkit-filter: drop-shadow(12px 12px 48px #E7CBCC);
          filter: drop-shadow(12px 12px 48px #E7CBCC);
  z-index: -1;
}
@media (max-width: 1200px) {
  .hero-image {
    position: static;
    top: unset;
    right: unset;
    margin: 0 auto;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    height: 350px;
    width: 400px;
  }
}
@media (max-width: 600px) {
  .hero-image {
    height: 150px;
    width: 150px;
    margin: 32px auto 0;
  }
}

.hero-image__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
}

.hero-image__rocket-woman__wrapper {
  position: absolute;
  top: 10%;
  left: 10%;
  height: 100%;
}

.hero-image__top-cloud__wrapper {
  right: 10%;
  top: 0;
}

.hero-image__bottom-cloud__wrapper {
  left: 10%;
  bottom: 0;
}

.hero-image__top-cloud__wrapper,
.hero-image__bottom-cloud__wrapper {
  position: absolute;
  height: 80px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
@media (max-width: 900px) {
  .hero-image__top-cloud__wrapper,
.hero-image__bottom-cloud__wrapper {
    height: 60px;
  }
}
@media (max-width: 600px) {
  .hero-image__top-cloud__wrapper,
.hero-image__bottom-cloud__wrapper {
    height: 24px;
  }
}

.hero-image__rocket-woman__wrapper {
  -webkit-transform: translateZ(150px);
          transform: translateZ(150px);
}

.hero-image__top-cloud__wrapper {
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}

.hero-image__bottom-cloud__wrapper {
  -webkit-transform: translateZ(200px);
          transform: translateZ(200px);
}

.hero-image__rocket-woman,
.hero-image__top-cloud,
.hero-image__bottom-cloud {
  position: relative;
  height: 100%;
  max-height: 100%;
}

.link,
.link:visited {
  color: #1964C3;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.link:hover {
  color: #D75A55;
}

@media (max-width: 1200px) {
  .br-none {
    display: none;
  }
}

@media (max-width: 900px) {
  body #fp-nav.fp-left {
    left: 2px;
  }
}
@media (max-width: 600px) {
  body #fp-nav.fp-left {
    display: none;
  }
}

body #fp-nav ul, .fp-slidesNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

body #fp-nav ul li, .fp-slidesNav ul li {
  margin: 0;
  width: 12px;
  height: 12px;
}

body .fp-scroller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 24px;
  z-index: 1;
}
@media (max-width: 900px) {
  .header {
    height: 100%;
    padding: 64px 24px 16px;
    background-color: #23242A;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .header .container {
    height: 100%;
    padding: 0;
  }
  .header .header__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .header__row,
.header .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    gap: 40px;
  }
  .header .nav__item + .nav__item {
    margin-left: 0;
  }
  .header.is-active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .header .button {
    display: none;
  }
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media (max-width: 1200px) {
  .header__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 900px) {
  .header .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.nav__item + .nav__item {
  margin-left: 40px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #353740;
  text-stroke: 0.08em transparent;
  -webkit-text-stroke: 0.08em transparent;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

@media (max-width: 1200px) {
  .header .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    font-weight: bold;
  }
}
@media (max-width: 900px) {
  .header .nav__link {
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}

.nav__link:hover {
  color: #D75A55;
  text-stroke: 0.08em #D75A55;
  -webkit-text-stroke: 0.08em #D75A55;
}

.nav__item.active .nav__link {
  color: #353740;
  text-stroke: 0.08em #353740;
  -webkit-text-stroke: 0.08em #353740;
}
@media (max-width: 900px) {
  .nav__item.active .nav__link {
    color: #fff;
    text-stroke: 0.08em #fff;
    -webkit-text-stroke: 0.08em #fff;
  }
}

.nav__item.active .nav__link:hover {
  color: #D75A55;
  text-stroke: 0.08em #D75A55;
  -webkit-text-stroke: 0.08em #D75A55;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 48px;
  padding: 4px 32px;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.11em;
  color: #23242A;
  border: 1px solid #23242A;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
@media (max-width: 1200px) {
  .button {
    position: static;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}
@media (max-width: 900px) {
  .button {
    position: absolute;
    top: 16px;
    right: 24px;
    height: 40px;
  }
}

.button:before {
  content: "";
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 0;
}

.button > div {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 2px;
}

.button.button--mobile-fixed {
  display: none;
  position: fixed;
  top: 16px;
  right: 24px;
  z-index: 50;
}
.button.button--mobile-fixed.burger-opened:hover {
  color: #D75A55;
  border-color: #D75A55;
}
.button.button--mobile-fixed.burger-opened {
  color: #ffffff;
  border-color: #ffffff;
  background-color: transparent;
}
@media (max-width: 900px) {
  .button.button--mobile-fixed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.button:hover {
  color: #ffffff;
  border-color: #23242A;
  background-color: #23242A;
}

.main-title {
  margin-bottom: 56px;
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.1;
  text-align: center;
  color: #23242A;
  cursor: default;
}
@media (max-width: 1200px) {
  .main-title {
    margin-bottom: 32px;
  }
}
@media (max-width: 900px) {
  .main-title {
    width: 100%;
    font-size: 24px;
    line-height: 1;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .main-title {
    margin-bottom: 24px;
  }
}

.main-title__large {
  font-size: 88px;
  line-height: 1.1;
  letter-spacing: -0.03em;
  color: #23242A;
}
@media (max-width: 1200px) {
  .main-title__large {
    font-size: 48px;
  }
}
@media (max-width: 900px) {
  .main-title__large {
    font-size: 32px;
    line-height: 56px;
  }
}

.burger {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 16px;
  top: 16px;
  padding: 3px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  overflow: visible;
  cursor: pointer;
  z-index: 50;
  -webkit-filter: invert(21%) sepia(5%) saturate(1265%) hue-rotate(192deg) brightness(90%) contrast(90%);
          filter: invert(21%) sepia(5%) saturate(1265%) hue-rotate(192deg) brightness(90%) contrast(90%);
}
.burger.is-active {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}
.burger:hover, .burger.is-active:hover {
  -webkit-filter: invert(51%) sepia(20%) saturate(1672%) hue-rotate(314deg) brightness(86%) contrast(94%);
          filter: invert(51%) sepia(20%) saturate(1672%) hue-rotate(314deg) brightness(86%) contrast(94%);
}
@media (max-width: 900px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.burger-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18px;
  height: 18px;
  position: relative;
  pointer-events: none;
}

.burger.is-active .burger-inner,
.burger.is-active .burger-inner::before,
.burger.is-active .burger-inner::after {
  background-color: #000;
}

.burger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  pointer-events: none;
}
.burger-inner::before {
  top: -6px;
  pointer-events: none;
}
.burger-inner::after {
  bottom: -6px;
  pointer-events: none;
}

.burger-inner, .burger-inner::before, .burger-inner::after {
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  pointer-events: none;
}

.burger-inner::before, .burger-inner::after {
  content: "";
  display: block;
}

.burger--arrowalt .burger-inner::before {
  -webkit-transition: top 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.burger--arrowalt .burger-inner::after {
  -webkit-transition: bottom 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.burger--arrowalt.is-active .burger-inner::before {
  top: 0;
  -webkit-transform: translate3d(-4px, -4px, 0) rotate(-45deg) scale(0.7, 1);
          transform: translate3d(-4px, -4px, 0) rotate(-45deg) scale(0.7, 1);
  -webkit-transition: top 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -o-transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.burger--arrowalt.is-active .burger-inner::after {
  bottom: 0;
  -webkit-transform: translate3d(-4px, 4px, 0) rotate(45deg) scale(0.7, 1);
          transform: translate3d(-4px, 4px, 0) rotate(45deg) scale(0.7, 1);
  -webkit-transition: bottom 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -o-transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-column-gap: 146px;
  grid-row-gap: 96px;
  margin-top: 48px;
}
@media (max-width: 1200px) {
  .features {
    margin-top: 0;
    grid-row-gap: 48px;
  }
}
@media (max-width: 900px) {
  .features {
    grid-column-gap: 0;
  }
}
@media (max-width: 600px) {
  .features {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 32px;
    margin-top: 24px;
  }
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features__list {
  margin-top: 22px;
  margin-left: 77px;
  list-style-type: circle;
}
@media (max-width: 600px) {
  .features__list {
    margin-top: 16px;
    margin-left: 22px;
  }
}

.features__item {
  font-size: 20px;
  line-height: 32px;
}
@media (max-width: 600px) {
  .features__item {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 12px;
  }
}

.features__title {
  font-family: "HelveticaNeue-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #23242A;
  text-align: left;
}
@media (max-width: 1200px) {
  .features__title {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  .features__title {
    font-size: 16px;
    text-align: left;
  }
}

.build__title {
  margin-bottom: 9vh;
}
@media (max-width: 600px) {
  .build__title {
    margin-bottom: 24px;
  }
}

.build__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 250px;
  margin-top: 0;
}
@media (max-width: 1200px) {
  .build__options {
    margin-top: -7vh;
  }
}
@media (max-width: 900px) {
  .build__options {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 24px;
    height: 60%;
    max-height: 300px;
  }
}
@media (max-width: 900px) {
  .build__options {
    height: 250px;
  }
}

.build__option:first-child,
.build__option:last-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
@media (max-width: 900px) {
  .build__option:first-child,
.build__option:last-child {
    -ms-flex-item-align: auto;
        align-self: auto;
    margin-bottom: 32px;
  }
}

@media (max-width: 900px) {
  .build__option:nth-child(2n) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (max-width: 900px) {
  .build__option:nth-child(3) {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: -70%;
  }
}
@media (max-width: 600px) {
  .build__option:nth-child(3) {
    margin-left: -50%;
  }
}

@media (max-width: 900px) {
  .build__option:nth-child(4) {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.build__options img {
  max-width: 171px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
@media (max-width: 600px) {
  .build__options img {
    max-width: 84px;
  }
}

@media (max-width: 600px) {
  .build__options img:first-child {
    max-width: 68px;
  }
}

.resources__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 35vh;
}
@media (max-width: 900px) {
  .resources__list {
    margin-top: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 600px) {
  .resources__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 24px;
    height: auto;
  }
}

.resource {
  width: 33%;
  max-width: 302px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 10px 10px 50px rgba(255, 236, 223, 0.5);
          box-shadow: 10px 10px 50px rgba(255, 236, 223, 0.5);
  -webkit-border-radius: 24px;
          border-radius: 24px;
}
@media (max-width: 600px) {
  .resource {
    width: 100%;
    padding: 8px;
  }
}

.resource:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 600px) {
  .resource:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 16px;
  }
}

.resource__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  padding: 32px 16px;
  height: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 600px) {
  .resource__box {
    padding: 20px 16px;
  }
}

.resource__box:hover {
  padding: 38px 26px;
  -webkit-box-shadow: 10px 10px 50px #FFECDF;
          box-shadow: 10px 10px 50px #FFECDF;
}
@media (max-width: 600px) {
  .resource__box:hover {
    padding: 20px 26px;
  }
}

.resource__link {
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #23242A;
}
@media (max-width: 1200px) {
  .resource__link {
    font-size: 24px;
  }
}
@media (max-width: 900px) {
  .resource__link {
    font-size: 16px;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-border-radius: 12px;
          border-radius: 12px;
}
@media (max-width: 900px) {
  .slider {
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .slider {
    max-height: 80%;
    overflow: hidden;
  }
}

.slider__btns {
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
}

.slider__btn::before {
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  background-color: #000;
  opacity: 0.5;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-image: none;
}

.slider__btn--left::before {
  -webkit-mask-image: url(../img/arrowLeft.svg);
  mask-image: url(../img/arrow-left.svg);
}

.slider__btn--right::before {
  -webkit-mask-image: url(../img/arrowRight.svg);
  mask-image: url(../img/arrow-right.svg);
}

.slider__btn--active::before {
  background-color: #2F80ED;
  opacity: 1;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.two-columns {
  display: grid;
  padding: 0 12px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
@media (max-width: 1200px) {
  .two-columns {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 900px) {
  .two-columns {
    padding: 0;
  }
}
@media (max-width: 600px) {
  .two-columns {
    grid-row-gap: 24px;
    margin-bottom: 46px;
  }
}

.boxes-row + .boxes-row {
  margin-top: 24px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px 48px;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
          box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
  -webkit-border-radius: 12px;
          border-radius: 12px;
}
@media (max-width: 900px) {
  .box {
    padding: 16px 24px;
  }
}
@media (max-width: 600px) {
  .box {
    height: auto;
    margin-bottom: 24px;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
}

.box--more-space {
  padding: 20px 32px;
}
@media (max-width: 600px) {
  .box--more-space {
    padding: 0;
  }
}

.box--more-space .box__subtitle {
  margin-bottom: 12px;
}

.box--inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 4px;
  padding: 16px 24px;
  background: #FFFFFF;
  -webkit-box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
          box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
  -webkit-border-radius: 12px;
          border-radius: 12px;
}
@media (max-width: 600px) {
  .box--inline {
    display: inline;
  }
  .box--inline .info__row.info__row--small .info__icon {
    margin: 0;
  }
}

.box--inline .info__row {
  gap: 4px;
  margin-bottom: 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.box__title {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #23242A;
}
@media (max-width: 1200px) {
  .box__title {
    text-align: left;
  }
}
@media (max-width: 900px) {
  .box__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
  }
}
@media (max-width: 600px) {
  .box__title {
    margin: 0 auto;
    margin-bottom: 0;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
  }
}

.box__subtitle {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #23242A;
}
@media (max-width: 1200px) {
  .box__subtitle {
    text-align: left;
  }
}
@media (max-width: 900px) {
  .box__subtitle {
    margin: 0 auto;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 24px;
    text-align: center;
  }
}

.box__small-subtitle {
  margin-bottom: auto;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #23242A;
}

.box__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
@media (max-width: 900px) {
  .box__grid {
    grid-column-gap: 24px;
    grid-row-gap: 12px;
  }
}
@media (max-width: 600px) {
  .box__grid {
    grid-column-gap: 12px;
    grid-row-gap: 24px;
  }
}

.box__rows {
  display: grid;
  grid-row-gap: 12px;
}
@media (max-width: 600px) {
  .box__rows {
    grid-row-gap: 8px;
  }
}

.box__rows .info {
  max-width: 100%;
}

.box__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #23242A;
}
@media (max-width: 900px) {
  .box__label {
    font-size: 12px;
  }
}

.info {
  max-width: 192px;
}
@media (max-width: 1200px) {
  .info {
    max-width: 100%;
  }
}

.info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.info__icon {
  margin-right: 16px;
  line-height: 32px;
}
@media (max-width: 900px) {
  .info__icon {
    margin-right: 8px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 600px) {
  .info__icon {
    margin-right: 4px;
    font-size: 14px;
    line-height: 16px;
  }
}

.info__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #23242A;
}
@media (max-width: 900px) {
  .info__title {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 600px) {
  .info__title {
    font-size: 14px;
    line-height: 16px;
  }
}

.info__row.info__row--small .info__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #23242A;
}
@media (max-width: 600px) {
  .info__row.info__row--small .info__title {
    font-size: 14px;
    line-height: 16px;
  }
}

.info__row.info__row--small .info__icon {
  line-height: 24px;
}
@media (max-width: 600px) {
  .info__row.info__row--small .info__icon {
    margin-right: 4px;
    font-size: 14px;
    line-height: 16px;
  }
}

.info__text {
  font-size: 14px;
  line-height: 24px;
  color: #23242A;
}
@media (max-width: 600px) {
  .info__text {
    fon-size: 12px;
    line-height: 16px;
  }
}

.problem-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  margin-bottom: 24px;
}
@media (max-width: 900px) {
  .problem-row {
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
    margin-bottom: 16px;
  }
}

.window {
  display: none;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 792px;
  max-height: 50vh;
  padding: 35px;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
          box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
}
@media (max-width: 900px) {
  .window {
    width: 100%;
    max-width: 100%;
    padding: 12px 16px;
  }
}
@media (max-width: 600px) {
  .window {
    padding: 8px 12px;
    overflow: hidden;
  }
}

.window-pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-y: scroll;
  scrollbar-width: none;
}

.window--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.code {
  position: relative;
  padding-left: 40px;
  font-family: "HelveticaNeue-Medium", monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #23242A;
}
@media (max-width: 900px) {
  .code {
    padding-left: 24px;
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 600px) {
  .code {
    max-width: 100%;
    overflow: scroll;
  }
}

.code__lines {
  position: absolute;
  top: 0;
  left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "HelveticaNeue", monospace;
  text-align: right;
  font-size: 16px;
  line-height: 24px;
  color: #A8A8A8;
}
@media (max-width: 900px) {
  .code__lines {
    font-size: 12px;
    line-height: 18px;
  }
}

.code--red {
  color: #D75A55;
}

.code--blue {
  color: #1964C3;
}

.code--gray {
  color: #9e9e9d;
}

.code--inline {
  font-family: "HelveticaNeue", monospace;
  padding: 4px 8px;
  color: #ffffff;
  background-color: #23242A;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}
@media (max-width: 600px) {
  .code--inline {
    padding: 2px 4px;
  }
}

.code--inline .code__lines {
  display: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #151619;
  padding: 32px 0;
}
@media (max-width: 600px) {
  .footer {
    position: static;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 600px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
    padding: 0 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media (max-width: 600px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__nav .nav__link {
  color: #ffffff;
}

.footer__nav .button:hover {
  color: #ffffff;
}

.footer__menu .button {
  position: static;
  color: #ffffff;
  border-color: #ffffff;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  margin-left: 40px;
}
@media (max-width: 600px) {
  .footer__menu .button {
    margin-left: 0;
  }
}

.footer__menu .button:hover {
  color: #ffffff;
  border-color: #D75A55;
  background-color: #D75A55;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1200px) {
  .footer__menu {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media (max-width: 600px) {
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media (max-width: 900px) {
  .footer__menu .nav__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 40px;
  }
}
@media (max-width: 600px) {
  .footer__menu .nav__list {
    margin-bottom: 24px;
    max-width: 320px;
  }
}

@media (max-width: 900px) {
  .footer__menu .nav__item {
    margin-left: 20px;
  }
}
@media (max-width: 600px) {
  .footer__menu .nav__item {
    margin-left: 0;
    margin-right: 40px;
  }
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
@media (max-width: 600px) {
  .author {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px;
  }
}
.author span {
  margin-bottom: 16px;
}

.author__image {
  height: auto;
  max-height: 16px;
  width: 100%;
  max-width: 120px;
}

.ethword,
.eth-e {
  fill: #ffffff;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.author:hover {
  color: #D75A55;
}

.author:hover .eth-e {
  fill: #303363;
}

.author:hover .ethword {
  fill: #00a5ff;
}

.author.author--mobile-menu {
  display: none;
  position: absolute;
  bottom: 32px;
  height: auto;
  padding: 0;
  opacity: 0.4;
}
.author.author--mobile-menu:hover {
  opacity: 1;
}
@media (max-width: 900px) {
  .author.author--mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}