.section--testimonials
  padding-top: 76px
  padding-bottom: 76px

  &::before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-image: linear-gradient($decorator-line-gray 1px, transparent 1px), linear-gradient(90deg, $decorator-line-gray 1px, transparent 1px)
    background-size: 24px 24px
    background-repeat: repeat
    opacity: 0.4
    transform: translateY(-5px)
    mask-image: radial-gradient(black, transparent)
    mask-size: 55% 55%
    mask-position: 60% 15%
    mask-repeat: no-repeat
    animation: gridAnimation 20s linear infinite

  +media(l)
    padding-top: 8px
    padding-bottom: 24px

.testimonials
  display: grid
  grid-template-columns: repeat(3, minmax(100px, 352px))
  grid-template-areas: "head head testimonial1" ".testimonial2 testimonial3" "testimonial4 testimonial5 testimonial6"
  column-gap: 32px
  align-items: center

  +media(l)
    column-gap: 18px
    row-gap: 8px

.testimonials__head
  grid-column: 1 / 3

.testimonials__title
  display: block
  margin-top: 10px
  font-size: 84px
  line-height: 100px
  letter-spacing: -0.03em
  white-space: nowrap

  +media(l)
    font-size: 60px
    line-height: 72px

.testimonials__list
  display: contents

.testimonials__item
  width: 100%
  padding: 16px
  filter: drop-shadow(0px 12px 36px transparentize($black, 0.95))

  +media(l)
    padding: 8px
    filter: drop-shadow(0px 8px 22px transparentize($black, 0.95))

.testimonials__item:nth-child(1)
  grid-area: testimonial1

.testimonials__item:nth-child(2)
  grid-area: testimonial2

.testimonials__item:nth-child(3)
  grid-area: testimonial3

.testimonials__item:nth-child(4)
  grid-area: testimonial4

.testimonials__item:nth-child(5)
  grid-area: testimonial5

.testimonials__item:nth-child(6)
  grid-area: testimonial6

.testimonials__image
  max-width: 100%
  border-radius: 16px
  object-fit: cover
  overflow: hidden
