.section--hero
  padding-top: 216px
  padding-bottom: 60px

  &::before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-image: radial-gradient(at 70% 20%, $decoration-gradient-red 0px, transparent 52%), radial-gradient(at 45% -20%, $decoration-gradient-blue 0px, transparent 50%), radial-gradient(at 25% 0%, $decoration-gradient-violet 0px, transparent 50%)
    filter: blur(150px)
    transform: translateY(-50%)
    opacity: 0.9

.hero
  display: grid
  grid-template-columns: 172px 1fr
  grid-template-rows: auto auto
  column-gap: 48px
  row-gap: 36px

.hero__ethereum
  grid-column: 1 / 1
  grid-row: 1 / -1

.hero__title
  font-size: 100px
  line-height: 110px
  font-weight: 700
  word-spacing: -8px

.hero__react-wrapper
  display: inline-flex
  justify-content: center
  align-items: center
  position: relative
  height: 72px
  width: 118px

.hero__react
  position: absolute

.hero__description
  font-size: 24px
  line-height: 38px

.hero__ethereum
  stroke-width: 2.5px

.hero__react
  stroke-width: 3px

.hero__ethereum,
.hero__react
  & *
    transform-origin: 50% 50%
    stroke-linecap: round
    stroke-linejoin: miter

.hero__ethereum > *
  animation: animateHeroStroke 1.5s ease forwards

.hero__react > *
  animation: animateHeroStroke 1s ease forwards
