.section--start
  padding-top: 56px

.start
  display: flex
  flex-direction: column
  align-items: center
  text-align: center

.start__header
  display: flex
  column-gap: 64px
  row-gap: 32px
  width: fit-content
  margin: 0 auto

.start__button
  font-size: 56px
  line-height: 72px
  color: $light
  transition: $all

  &:hover
    color: $black
  &:focus-visible
    color: $black

.start__subtitle
  font-size: 32px
  line-height: 72px
  margin-top: 24px
  text-align: center

.start__link
  margin: 24px auto 0
