.section--hero
  padding-top: 216px
  padding-bottom: 60px

.hero
  display: grid
  grid-template-columns: 172px 1fr
  grid-template-rows: auto auto
  column-gap: 48px
  row-gap: 36px

.hero__ethereum
  grid-column: 1 / 1
  grid-row: 1 / -1

.hero__title
  font-size: 100px
  line-height: 110px
  font-weight: 700
  word-spacing: -8px

.hero__react-wrapper
  display: inline-flex
  justify-content: center
  align-items: center
  position: relative
  height: 72px
  width: 118px

.hero__react
  position: absolute

.hero__description
  font-size: 24px
  line-height: 38px