.section--dependents
  padding-top: 58px
  padding-bottom: 74px

.dependents
  display: flex
  flex-direction: column
  align-items: center
  width: 100%

.dependents__badge
  margin: 0 auto

.dependents__info
  margin-top: 10px
  font-size: 24px
  line-height: 38px

.dependents__slider
  margin-top: 32px

.dependents__slide .slider__link,
.dependents__slide .slider__text
  min-width: 100px