.section--start
  padding-top: 56px

  &::before
    content: ''
    position: absolute
    left: 50%
    top: 100%
    width: 125%
    height: 100%
    background-image: radial-gradient(at 100% 100%, $decoration-gradient-violet 0px, transparent 50%), radial-gradient(at 65% 45%, $decoration-gradient-blue 0px, transparent 50%), radial-gradient(at 35% 45%, $decoration-gradient-pink 0px, transparent 50%), radial-gradient(at 0% 100%, $decoration-gradient-orange 0px, transparent 50%)
    background-size: 120% 100%
    background-position: 50% 50%
    background-repeat: no-repeat
    filter: blur(100px)
    transform: translateX(-50%) translateY(-60%)
    opacity: 0.9

  +media(l)
    padding-top: 24px

.start
  display: flex
  flex-direction: column
  align-items: center
  text-align: center

.start__header
  display: flex
  column-gap: 64px
  row-gap: 32px
  width: fit-content
  margin: 0 auto

  +media(l)
    column-gap: 24px

.start__button
  font-size: 56px
  line-height: 72px
  color: $light
  white-space: nowrap
  transition: $all

  &:hover
    color: $black
  &:focus-visible
    color: $black

  +media(l)
    font-size: 38px

.start__subtitle
  font-size: 32px
  line-height: 72px
  margin-top: 24px
  text-align: center

  +media(l)
    font-size: 28px

.start__link
  margin: 24px auto 0

.start__terminal
  width: 100%
  max-width: 832px
  height: 510px
  margin: 54px auto 0
  border-radius: 8px 8px 0 0
  object-fit: cover

  +media(l)
    margin: 62px auto 0
    max-width: 540px
    height: 296px
