// text
$text-black: #23242A
$text-white: #FFFFFF
$text-gray: #A4A4A4
$text-dark: #767676
$text-light: #F0F0F0
$text-purple: #4D43FF

// badge
$badge-background: #FFF2D1
$badge-text: #D09600

// decorators
$decoration-gradient-orange: #FF8000
$decoration-gradient-yellow: #FFC107
$decoration-gradient-red: #FA6069
$decoration-gradient-pink: #FF4880
$decoration-gradient-tomato: #FB606A
$decoration-gradient-blue: #0038FF
$decoration-gradient-purple: #6058F2
$decoration-gradient-violet: #7F30FF
$decorator-line-gray: #D5DAE1

// footer
$footer-background: #151515